
/* Icons-color */
.fa-primary {
    color: var(--bg-black);
}
.fa-primary{
    transition: var(--transition-speed);
}
.navbar {
    position: fixed;
    transition: width 600ms ease;
    overflow: scroll;
    background-color: white;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: black
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    transition: var(--transition-speed);
    color: black
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--bg-pink);
}

.link-text {
    display: none;
    margin-left: 1rem;
    font-size: 1.2rem;
    top: 25px;
    font-weight: 800;

}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;

}